HELP.md
target/
src/main/resources/games-b2edf-firebase-adminsdk-fbsvc-178416180d.json
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**src/main/resources/games-b2edf-firebase-adminsdk-fbsvc-178416180d.json

Dockerfile

node_modules
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

!**src/main/resources/templates
node_modules
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
